<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <h1>{{title}}</h1>
            
        </header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></a></li>
                <li><a href="/product">product</a></a></li>
            </ul>
        </nav>
        <div class="container">
            {{{body}}}
        </div>
        <footer>
           
                <div class="container">
                    <div class="input_bt">
                        <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
                        <span class="subscribe_bt" id="basic-addon2"><a>Subscribe</a></span>
                    </div>
                    <div class="location_main">Help Line  Number : <a>+1 1800 1200 1200</a></div>
                </div>
            
            &copy; 2023 Your Company
        </footer>
    </body>
</html>